// API COMPONENT STYLES

.container-wrapper {
  padding: 16px 0;

  table {
    width: 100%;

    th {
      font-size: 1.125rem;
      color: #000000;

      &:first-of-type {
        padding-right: 3rem;
      }
    }

    .mat-row .mat-cell {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      padding-top: 2rem;
      padding-bottom: 2rem;
      cursor: pointer;
    }

    span {
      font-weight: bold;
      display: block;
    }
  }
}
