<div class="container-wrapper">
    <div class="modal-wrapper">
        <!-- <p>MODAL WORKS BABY!</p> -->
        <mat-icon (click)="closeModal('cancel')">close</mat-icon>
        <div class="modal-flex-help">
            <div class="modal-content">
                <h2>{{ this.displayValues.titleText }}</h2>
                <h3 class="body-content">{{ this.displayValues.bodyContent }}</h3>
            </div>
            <div class="modal-buttons">
                <button mat-stroked-button color="basic" (click)="closeModal('cancel')">{{ this.displayValues.secondaryButtonLabel }}</button>
                <button mat-flat-button color="primary" (click)="closeModal('save')">{{ this.displayValues.primaryButtonLabel }}</button>
            </div>
        </div>
    </div>
</div>