<div class="container-wrapper">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Example Sandbox - Dialog Modal
                </mat-panel-title>
                <mat-panel-description>
                    <span>View Source</span>
                    <mat-icon>code</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>SOURCE CODE</p>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="content-wrapper">
        <div class="intro-wrapper">
            Below, you will find an example of a DialogModalComponent. Modify the values below in order to see how the modal updates.
        </div>
        <div class="flex-container">
            <div class="flex-item">
                <div class="dialog-input-wrapper">
                    <div class="dialog-option-wrapper">
                        <label>Title Text</label>
                        <input type="text" [(ngModel)]="displayValues.titleText">
                    </div>
                    <div class="dialog-option-wrapper">
                        <label>Body Content</label>
                        <input type="text" [(ngModel)]="displayValues.bodyContent">
                    </div>
                    <div class="dialog-option-wrapper">
                        <label>Primary Button Label</label>
                        <input type="text" [(ngModel)]="displayValues.primaryButtonLabel">
                    </div>
                    <div class="dialog-option-wrapper">
                        <label>Secondary Button Label</label>
                        <input type="text" [(ngModel)]="displayValues.secondaryButtonLabel">
                    </div>
                    <div class="dialog-option-wrapper">
                        <label>Color Theme</label>
                        <mat-radio-group 
                            aria-labelledby="example-radio-group-label" 
                            class="example-radio-group" 
                            [(ngModel)]="colorTheme">
                            <mat-radio-button 
                                class="example-radio-button" 
                                *ngFor="let colorTheme of colorThemes" 
                                [value]="colorTheme">
                                {{colorTheme}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="dialog-option-wrapper">
                        <label>Display Title Icon</label>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="titleIconOption">
                            <mat-radio-button 
                                class="example-radio-button" 
                                *ngFor="let iconOption of titleIconOptions" 
                                [value]="iconOption">
                                {{iconOption}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="dialog-option-wrapper">
                        <label>Aria Description</label>
                        <input type="text" [(ngModel)]="displayValues.ariaValue">
                    </div>
                    <div class="dialog-button-wrapper">
                        <button mat-flat-button color="primary" (click)="openModal('dialogModal')">Open Dialog Modal</button>
                    </div>
                </div>
            </div>
            <div class="flex-item"> 
                <div class="json-output-wrapper">
                    <p>&#123;</p>
                    <p class="indent-by-one">"ariaDescription": "{{ displayValues.ariaValue }}"</p>
                    <p class="indent-by-one">"data": &#123;</p>
                    <p class="indent-by-two">"title": "{{ displayValues.titleText }}"</p>
                    <p class="indent-by-two">"body": "{{ displayValues.bodyContent }}"</p>
                    <p class="indent-by-two">"primaryButton": "{{ displayValues.primaryButtonLabel }}"</p>
                    <p class="indent-by-two">"secondaryButton": "{{ displayValues.secondaryButtonLabel }}"</p>
                    <p class="indent-by-one">&#125;,</p>
                    <p class="indent-by-one">"hasLightTheme": {{ hasLightTheme() }}</p>
                    <p class="indent-by-one">"hasTitleIcon": {{ hasTitleIcon() }}</p>
                    <p>&#125;</p>
                </div>
            </div>
        </div>
    </div>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Example Sandbox - Light Theme
                </mat-panel-title>
                <mat-panel-description>
                    <span>View Source</span>
                    <mat-icon>code</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>SOURCE CODE</p>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="content-wrapper">
        <div>
            In this example, we are seeing the default values inside of the Dialog Modal, which includes a light themed modal and title icon.
        </div>
        <div class="dialog-button-wrapper">
            <button mat-flat-button color="primary" (click)="openModal('lightTheme')">Open Light Themed Modal</button>
        </div>
    </div>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Example Sandbox - Dark Theme
                </mat-panel-title>
                <mat-panel-description>
                    <span>View Source</span>
                    <mat-icon>code</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>SOURCE CODE</p>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="content-wrapper">
        <div>
            In this example, we are seeing the dark themed color option being applied to the Dialog Modal.
        </div>
        <div class="dialog-button-wrapper">
            <button mat-flat-button color="primary" (click)="openModal('darkTheme')">Open Dark Themed Modal</button>
        </div>
    </div>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Example Sandbox - Hide Title Icon
                </mat-panel-title>
                <mat-panel-description>
                    <span>View Source</span>
                    <mat-icon>code</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>SOURCE CODE</p>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="content-wrapper">
        <div>
            In this example, we are seeing the Dialog Modal being displayed without the use of a title icon.
        </div>
        <div class="dialog-button-wrapper">
            <button mat-flat-button color="primary" (click)="openModal('hideTitle')">Open Hidden Title Icon Modal</button>
        </div>
    </div>
    <div class="modal-wrapper" *ngIf="displayModal">
        <app-modal 
            [modalInfo]="displayValues"
            [hasTitleIconPass]="hasTitleIcon()"
            [hasLightThemePass]="hasLightTheme()"
            (changed)="updateModal($event)">
        </app-modal>
    </div>
</div>